html{
  height: 100%;
}

.app{
  height: 100%;
}



/* Main Display Projects and Task Components */


button {
  border: none;
  background-color: white;
}

button:hover{
  transform: scale(1.05);
  transition:.35s ease-in-out
}


