* {
  margin: 8px;
}
.app{
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: 
    "projects tasks";
}

.projects{
  grid-area: projects;
  /* display: flex; */
  /* flex-direction: column; */
}

.tasks{
  grid-area: tasks;
  /* display: flex;
  flex-direction: column; */
}

button {
  border: none;
  background-color: white;
}

button:hover{
  transform: scale(1.05);
  transition:.35s ease-in-out
}
.main-header{
  text-align: center;
}


/* Project Cards */

li {
  list-style: none;
}


.card-link {
  flex-wrap:nowrap;
}

.card-link:hover {
  cursor: pointer;
}

.project-card {
  display: flex;
  justify-content: space-between;
}

.project-card:hover {
  transform: scale(1.015);
  transition:.5s ease-in-out
}


/* FORMS / MODAL */

.project-form {
  display: flex;
  flex-direction: column;
}

.task-form {
  display: flex;
  flex-direction: column;
}