
.nav {
  width: 100%;
  justify-content: center;
  background-color: lightblue;
  margin-bottom: 8px;
}

.nav-header {
  font-family: Arial, Helvetica, sans-serif;
}
.grid{
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: 
    "projects tasks";
}

.projects{
  grid-area: projects;
  margin: 8px;
  border-right: 1px solid lightblue;
}

.tasks{
  grid-area: tasks;
  margin: 8px;
}

button {
  border: none;
  background-color: white;
}

button:hover{
  transform: scale(1.05);
  transition:.35s ease-in-out
}
.main-header{
  text-align: center;
}


/* Project Cards */

li {
  list-style: none;
}


.card-link {
  flex-wrap:nowrap;
}

.card-link:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition:.5s ease-in-out
}

.project-card {
  display: flex;
  justify-content: space-between;
}

.project-card:hover {
  transform: scale(1.015);
  transition:.5s ease-in-out
}

.delete-project-btn {
  float: right;
}

/*Task Cards*/

.task-card-container {
  display: flex;
  flex-wrap: wrap;
}

.task-card {
  padding: 24px;
  margin: 8px;
}

.task-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}

/* FORMS / MODAL */

.project-form {
  display: flex;
  flex-direction: column;
}

.task-form {
  display: flex;
  flex-direction: column;
}