html{
  height: 100%;
}

.app{
  height: 100%;
}

.nav {
  width: 100%;
  justify-content: center;
  background-color: #5bc0de;
  padding: 8px;
  margin-bottom: 8px;
}

.nav-header {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.grid{
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: 
    "projects tasks";
}

.projects{
  grid-area: projects;
  height: 100%;
  margin: 8px;
}

.tasks{
  grid-area: tasks;
  margin: 8px;
}

button {
  border: none;
  background-color: white;
}

button:hover{
  transform: scale(1.05);
  transition:.35s ease-in-out
}
.main-header{
  text-align: center;
}


/* Project Cards */

li {
  list-style: none;
}


.card-link {
  flex-wrap:nowrap;
  border-radius: 4px;
}

.card-link:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition:.5s ease-in-out;
  color: white;
  background-color: #5bc0de;
}

.project-card {
  display: flex;
  justify-content: space-between;

}

/* .project-card:hover {
  transform: scale(1.015);
  transition:.5s ease-in-out
} */

.delete-project-btn {
  float: right;
}

/*Task Cards*/

.task-card-container {
  display: flex;
  flex-wrap: wrap;
}

.task-card {
  padding: 24px;
  margin: 8px;
}

.task-card:hover {
  transform: scale(1.015);
  box-shadow: 6px 6px 2px 1px #77d0eb;
  transition: .5s;
}

.task-card-complete {
  padding: 24px;
  margin: 8px;
  border: 2px solid #42ba96;
  background-color: rgb(221, 217, 217);
  opacity: 0.7;
  order: -1;
}

.task-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}

/* FORMS / MODAL */

.project-form {
  display: flex;
  flex-direction: column;
}

.task-form {
  display: flex;
  flex-direction: column;
}